TD.active {
  width : 2em;
  height : 2em;
  text-align : center;
  text-decoration : none;
  vertical-align : middle;
  background : rgb(128,255,128);
}

TD.inactive {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(255,230,106);
}

TD.inactive2 {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(205,180,56);
}

TD.unused {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(128,128,128);
}

TD.illactive {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(255,128,128);
}

TD.none {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(255,255,255);
}

TD.disabled {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  background : rgb(0,0,0);
  color : rgb(255,255,255);
}

TD.errdisabled {
  width : 2em;
  height : 2em;
  text-align : center;
  vertical-align : middle;
  color : rgb(255,255,0);
  background : red;
  font-weight : bold;
}

TD.lgcell {
  padding-left : 0.5em;
  padding-right : 0.5em;
}
