h1 {
  text-align : center;
}

/*--- form box */

div.form {
  margin-bottom : 1em;
  margin-right : 1em;
  padding : 0.4em;
  background : rgb(200,200,200);
  height : 7em;
  float : left;
}

/*--- live message box */

div.msgdisp {
  margin-bottom : 1em;
  margin-right : 1em;
  padding : 1em;
  float : left;
  width : 20em;
  height : 5.8em;
  background : rgb(255,255,100)
}

/*--- inlining form elements */

div.inline {
  display : inline-block;
}

/*--- form small print */

p.fnote {
  font-size : smaller;
  margin : 0.2em;
  margin-top : 0.5em;
}

div.status {
  clear : left;
}

span.coords {
  display : block;
}

span.label {
  display : block;
  font-size : 18pt;
}

span.count {
  float : right;
  top : 20px;
  right : 20px;
}

/*--- canvas container */

div.canvcont {
  clear : left;
}
