/*--- SPAM Main Menu ---*/

body {
  background : rgb(255,200,200);
}

p {
  font-family : arial, helvetica, sans-serif;
}

span.section {
  font-weight : bold;
}

p.logo {
  font-family : 'vodafone lt bold', sans-serif;
  font-weight : bold;
  font-size : 20pt;
  margin-top : 0;
}

p.menu {
  font-size : smaller;
}

p.info {
  font-size : 8pt;
}

p.menu span {
  font-weight : bold;
}

p.info span {
  font-weight : bold;
}

p.patch {
  font-size : smaller;
}

div {
  font-family : arial, helvetica, sans-serif;
  margin : 0px;
}

span.pa_sel {
  color : rgb(85,33,33);
}

span.pa_sel:hover {
  text-decoration : underline;
  color : blue;
  cursor : pointer;
}

span.pa_act {
  font-weight : bold;
}

span.pa_act:hover {
  text-decoration : none;
  color : black;
}

div#patch1 {
  display : inline-block;
  font-size : smaller;
  margin-right : 0.5em;
}

div#patch2 {
  display : inline-block;
  font-size : smaller;
  text-align : right;
}

div#pa_hide {
  display : none;
}

hr {
  clear : both;
}

span#pa_mode {
  user-select : none;
  -moz-user-select : none;
  -webkit-user-select : none;
}

span#pa_period {
  user-select : none;
  -moz-user-select : none;
  -webkit-user-select : none;
}

span.pa_inact {
  color : rgb(128,100,100);
  font-style : italic;
}